[Unit]
Description=Node.js Cart Service

[Service]
User=project7
ExecStart=/bin/node /home/project7/cart/server.js
Restart=always
RestartSec=10
StandardOutput=append:/var/log/robo-shop/cart.log
StandardError=append:/var/log/robo-shop/cart.log
SyslogIdentifier=cart
[Install]
WantedBy=multi-user.target
