[Unit]
Description={{APP_NAME}} Service

[Service]
User={{APP_USER}}
#ExecStart=/bin/node /home/project7/cart/server.js
ExecStart={{COMMAND}}
Restart=always
RestartSec=10
StandardOutput=append:/var/log/robo-shop/cart.log
StandardError=append:/var/log/robo-shop/cart.log
SyslogIdentifier={{APP_NAME}}
[Install]
WantedBy=multi-user.target